@use "../mixins/pseudo.scss" as *;

.header {
  display: flex;
  margin-bottom: 64px;
  flex-direction: column;
  align-items: center;
  width: 375px;
  background-color: #24053e;
  border-bottom-right-radius: 300px 50px;
  border-bottom-left-radius: 300px 50px;

  &__title {
    font-family: "Fraunces";
    width: 343px;
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
    text-align: center;
    color: white;
  }
  &__image {
    margin-top: 64px;
  }
}

.button__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 55px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: #24053e;
  background-color: #44ffa1;
}
