.list {
  padding-left: 16px;
  text-align: center;
  padding-right: 16px;
  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 46px;
    border-radius: 30.5px;
    border: 1px solid #584d62;
    font-family: "Fraunces";
    color: #24053e;
    font-weight: 600;
  }

  &__title {
    font-family: "Fraunces";
    font-size: 28px;
    line-height: 36px;
    color: #24053e;
    font-weight: 600;
  }

  &__text {
    color: #584d62;
    font-family: "Manrope";
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
  }
}
